[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyedgar"]
	path = tidyedgar
	url = https://github.com/gerardgimenezadsuar/tidyedgar
